<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div style="text-align:center;margin-top:10%;">
<form action="/app/" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit">
</form>
    <div class="container">
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Creation Id</th>
          <th>Link_to_view_update</th>
      </tr>
    </thead>
    <tbody id="data">

    </tbody>
  </table>
</div>
    <script>
        fetch("/app/users").then(
  res => {
    res.json().then(
      data => {
        console.log(data.data);
        if (data.data.length > 0) {

          var temp = "";
          data.data.forEach((itemData) => {
            temp += "<tr>";
            temp += "<td>" + itemData.id + "</td>";
            temp += "<td>" + itemData.trans_id + "</td></tr>";
            temp += "<td>" + "<a href=/app/details/"+itemData.trans_id +">View/Update</a> "+ "</td></tr>";

          });
          document.getElementById('data').innerHTML = temp;
        }
      }
    )
  }
)
    </script>
</div>
</body>
</html>